<style>
*{
	text-align:center;
}
</style>
<h1>Login</h1>
<%=form_tag login_verify_login_path do %>
<%= label_tag 'Username'%>
<%= text_field_tag 'name'%>
<%= label_tag 'Password'%>
<%= text_field_tag 'password'%>
<%= submit_tag "Login"%>
<%end%>
<%=link_to "Sign Up" ,login_signup_path%>


